# Tugas 7 (Credit Risk Modelling)

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_url = "https://raw.githubusercontent.com/elmatiaaa/Machine-Learning/main/credit_score.csv"
dataset = pd.read_csv(dataset_url)
dataset

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,YA,48,5,> 90 days,5
896,897,AGR-010744,120,YA,48,2,46 - 60 days,3
897,898,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,899,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,900,AGR-010790,204,TIDAK,24,2,0 - 30 days,1

In [3]:
data = dataset.drop(columns=['kpr_aktif', 'rata_rata_overdue'])

In [4]:
#Pre processing dengan get dummies panda
data_kpr = dataset[['kpr_aktif']]
data_rata = dataset[['rata_rata_overdue']]
kpr = pd.get_dummies(data_kpr)
rata_rata = pd.get_dummies(data_rata)

In [5]:
dataOlah = pd.concat([kpr,rata_rata],axis=1)

In [6]:
dataHasil = pd.concat([data,dataOlah], axis=1)
dataHasil

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,risk_rating,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1,AGR-000001,295,48,5,4,0,1,0,0,0,1,0
1,2,AGR-000011,271,36,5,4,0,1,0,0,0,1,0
2,3,AGR-000030,159,12,0,1,1,0,1,0,0,0,0
3,4,AGR-000043,210,12,3,3,0,1,0,0,1,0,0
4,5,AGR-000049,165,36,0,2,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,48,5,5,0,1,0,0,0,0,1
896,897,AGR-010744,120,48,2,3,0,1,0,0,1,0,0
897,898,AGR-010758,166,24,2,1,1,0,1,0,0,0,0
898,899,AGR-010775,196,48,0,2,1,0,0,1,0,0,0
899,900,AGR-010790,204,24,2,1,1,0,1,0,0,0,0

Normalisasi Data

In [7]:
data = dataHasil.drop(columns=['kode_kontrak', 'risk_rating'])
data

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1,295,48,5,0,1,0,0,0,1,0
1,2,271,36,5,0,1,0,0,0,1,0
2,3,159,12,0,1,0,1,0,0,0,0
3,4,210,12,3,0,1,0,0,1,0,0
4,5,165,36,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
895,896,112,48,5,0,1,0,0,0,0,1
896,897,120,48,2,0,1,0,0,1,0,0
897,898,166,24,2,1,0,1,0,0,0,0
898,899,196,48,0,1,0,0,1,0,0,0
899,900,204,24,2,1,0,1,0,0,0,0

In [8]:
from sklearn.preprocessing import MinMaxScaler
# scale features
scaler = MinMaxScaler()
model =scaler.fit(data)
scaled_data=model.transform(data)
# print scaled features
print(scaled_data)

[[0.         0.97826087 1.         ... 0.         1.         0.        ]
 [0.00111235 0.87391304 0.66666667 ... 0.         1.         0.        ]
 [0.00222469 0.38695652 0.         ... 0.         0.         0.        ]
 ...
 [0.99777531 0.4173913  0.33333333 ... 0.         0.         0.        ]
 [0.99888765 0.54782609 1.         ... 0.         0.         0.        ]
 [1.         0.5826087  0.33333333 ... 0.         0.         0.        ]]

In [9]:
namakolom = data.columns.values
dataMinMax = pd.DataFrame(scaled_data, columns=namakolom)
dataMinMax

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,0.000000,0.978261,1.000000,0.833333,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.001112,0.873913,0.666667,0.833333,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.002225,0.386957,0.000000,0.000000,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.003337,0.608696,0.000000,0.500000,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.004449,0.413043,0.666667,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
895,0.995551,0.182609,1.000000,0.833333,0.0,1.0,0.0,0.0,0.0,0.0,1.0
896,0.996663,0.217391,1.000000,0.333333,0.0,1.0,0.0,0.0,1.0,0.0,0.0
897,0.997775,0.417391,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.0,0.0
898,0.998888,0.547826,1.000000,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0
899,1.000000,0.582609,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [10]:
# Min Max Scale dengan Min = 1 dan Max =2
scaler = MinMaxScaler(feature_range=(1,2))
model =scaler.fit(data)
scaled_data2=model.transform(data)
# print scaled features
print(scaled_data2)

[[1.         1.97826087 2.         ... 1.         2.         1.        ]
 [1.00111235 1.87391304 1.66666667 ... 1.         2.         1.        ]
 [1.00222469 1.38695652 1.         ... 1.         1.         1.        ]
 ...
 [1.99777531 1.4173913  1.33333333 ... 1.         1.         1.        ]
 [1.99888765 1.54782609 2.         ... 1.         1.         1.        ]
 [2.         1.5826087  1.33333333 ... 1.         1.         1.        ]]

In [11]:
dataMinMax2 = pd.DataFrame(scaled_data2, columns=data.columns.values)
dataMinMax2

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,1.000000,1.978261,2.000000,1.833333,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1,1.001112,1.873913,1.666667,1.833333,1.0,2.0,1.0,1.0,1.0,2.0,1.0
2,1.002225,1.386957,1.000000,1.000000,2.0,1.0,2.0,1.0,1.0,1.0,1.0
3,1.003337,1.608696,1.000000,1.500000,1.0,2.0,1.0,1.0,2.0,1.0,1.0
4,1.004449,1.413043,1.666667,1.000000,2.0,1.0,1.0,2.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
895,1.995551,1.182609,2.000000,1.833333,1.0,2.0,1.0,1.0,1.0,1.0,2.0
896,1.996663,1.217391,2.000000,1.333333,1.0,2.0,1.0,1.0,2.0,1.0,1.0
897,1.997775,1.417391,1.333333,1.333333,2.0,1.0,2.0,1.0,1.0,1.0,1.0
898,1.998888,1.547826,2.000000,1.000000,2.0,1.0,1.0,2.0,1.0,1.0,1.0
899,2.000000,1.582609,1.333333,1.333333,2.0,1.0,2.0,1.0,1.0,1.0,1.0

In [12]:
# Z Score atau StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
model = (scaler.fit(data))
data_mean = (scaler.mean_)
scale_data = (scaler.transform(data))
print(scale_data)

[[-1.73012737  2.54041987  1.32217147 ... -0.6912543   2.54950976
  -0.35949218]
 [-1.72627837  2.07740679  0.4439764  ... -0.6912543   2.54950976
  -0.35949218]
 [-1.72242937 -0.08332092 -1.31241375 ... -0.6912543  -0.39223227
  -0.35949218]
 ...
 [ 1.72242937  0.05172456 -0.43421867 ... -0.6912543  -0.39223227
  -0.35949218]
 [ 1.72627837  0.63049091  1.32217147 ... -0.6912543  -0.39223227
  -0.35949218]
 [ 1.73012737  0.78482861 -0.43421867 ... -0.6912543  -0.39223227
  -0.35949218]]

In [13]:
dataZScale = pd.DataFrame(scale_data, columns=data.columns.values)
dataZScale

,Unnamed: 0,pendapatan_setahun_juta,durasi_pinjaman_bulan,jumlah_tanggungan,kpr_aktif_TIDAK,kpr_aktif_YA,rata_rata_overdue_0 - 30 days,rata_rata_overdue_31 - 45 days,rata_rata_overdue_46 - 60 days,rata_rata_overdue_61 - 90 days,rata_rata_overdue_> 90 days
0,-1.730127,2.540420,1.322171,1.030621,-0.868554,0.868554,-0.580772,-0.463222,-0.691254,2.549510,-0.359492
1,-1.726278,2.077407,0.443976,1.030621,-0.868554,0.868554,-0.580772,-0.463222,-0.691254,2.549510,-0.359492
2,-1.722429,-0.083321,-1.312414,-1.461477,1.151339,-1.151339,1.721847,-0.463222,-0.691254,-0.392232,-0.359492
3,-1.718580,0.900582,-1.312414,0.033782,-0.868554,0.868554,-0.580772,-0.463222,1.446646,-0.392232,-0.359492
4,-1.714731,0.032432,0.443976,-1.461477,1.151339,-1.151339,-0.580772,2.158791,-0.691254,-0.392232,-0.359492
...,...,...,...,...,...,...,...,...,...,...,...
895,1.714731,-0.990055,1.322171,1.030621,-0.868554,0.868554,-0.580772,-0.463222,-0.691254,-0.392232,2.781702
896,1.718580,-0.835717,1.322171,-0.464638,-0.868554,0.868554,-0.580772,-0.463222,1.446646,-0.392232,-0.359492
897,1.722429,0.051725,-0.434219,-0.464638,1.151339,-1.151339,1.721847,-0.463222,-0.691254,-0.392232,-0.359492
898,1.726278,0.630491,1.322171,-1.461477,1.151339,-1.151339,-0.580772,2.158791,-0.691254,-0.392232,-0.359492
899,1.730127,0.784829,-0.434219,-0.464638,1.151339,-1.151339,1.721847,-0.463222,-0.691254,-0.392232,-0.359492